
/*nav bar position define*/
.navDiv{
	background-color: #305F86;
	color: white;
	height: 50px;
	margin: 0px;
	font-size: 1.1em;
	width: 100%;
	top: 0;
	left: 0;
	border-radius: 4px;
	z-index: 999;
}
ul.navUl{
	margin: 0px;
    position: relative;
    height: 100%;
    left: 15%;
}
ul.navUl ul.navUl{
	position: relative;
	left:0px;
}
ul.navUl ul.navUl.autoClose{
	left: 0%;
	top: 102%;
	z-index: 999;
	display: none;
	position: absolute;
	padding: 0px;
}
/*nav bar list padding & style define*/
.navDiv .navUl li{
	list-style: none;
	display: inline-block;
	height: 100%;
	position: relative;
}
/*nav bar first level's menu span style*/
.navDiv li.navBarli_0>a{
	top: 25%;
}

/*nav bar all level's hover&active style*/
.navDiv li.navBar>a:hover{
	cursor: pointer;
	color: #F5C588;
}
.navDiv .navBar>a{
	color: white;
	text-decoration: none;
	position: relative;
	margin-left: 25px;
	margin-right: 25px;
	width:100%;
	height:30px;
}
.navDiv li.navBar.active>a{
	color: #F3B27A;
}
/*
second level bar.
*/


.navDiv li.navBarli_1{
	display: block;
	position: relative;
	height: 30px;
	background-color: #305F86;
	width: 100%;
}
.navDiv li.navBarli_1:first-child{
	border-radius: 4px 4px 0px 0px;
}
.navDiv li.navBarli_1:last-child{
	border-radius: 0px 0px 4px 4px;
}
.navDiv li.navBarli_1>a{
	display: block;
	top:5%;
}
.arrowDown{
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid;
	display:inline-block;
	position: absolute;
    left: 103%;
    top: 50%;
}

