
ul.navUl{
	margin: 0px;
    position: relative;
    height: 100%;
    left: 15%;
    padding: 0px;
}
ul.navUl ul.navUl{
	position: relative;
	left:0px;
}

.arrowDown{
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid;
	display:inline-block;
	position: absolute;
    left: 103%;
    top: 50%;
}
ul.navUl li.navBar>a:hover{
	cursor: pointer;
}

/*nav bar position define*/
.navbar{
	background-color: #305F86;
	color: white;
	height: 50px;
	margin: 0px;
	font-size: 1.1em;
	width: 100%;
	top: 0;
	left: 0;
	border-radius: 4px;
	z-index: 999;
}
/*nav bar list padding & style define*/
.navbar li{
	list-style: none;
	display: inline-block;
	height: 100%;
	position: relative;
}
/*nav bar first level's menu span style*/
.navbar li.navBarli_0>a{
	top: 25%;
}

/*nav bar all level's hover&active style*/
.navbar li.navBar>a:hover{
	cursor: pointer;
	color: #F5C588;
}
.navbar li>ul.navUl.autoClose{
	left: 0%;
	top: 102%;
	z-index: 999;
	display: none;
	position: absolute;
	padding: 0px;
}
.navbar li>a{
	color: white;
	text-decoration: none;
	position: relative;
	margin-left: 25px;
	margin-right: 25px;
	width:100%;
}
.navbar ul ul{
	width: 100%;
}
.navbar li li>a{
	margin: 0px;
	padding: 0px;
}
.navbar li.navBar.active>a{
	color: #F3B27A;
}
/*
second level bar.
*/
.navbar li.navBarli_1{
	display: block;
	position: relative;
	height: 30px;
	background-color: #305F86;
	width: 100%;
}
.navbar li.navBarli_1:first-child{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.navbar li.navBarli_1:last-child{
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
.navbar li.navBarli_1>a{
	display: block;
	top:5%;
}
/*side bar default define*/
.sidebar li{
	list-style: none;
	padding: 0px;
}

.sidebar li>a{
	padding-left: 20px;
	color: #655F5F;
	text-decoration: none;
}
.sidebar li>a:hover{
	color: #45A2DA;
}
.sidebar li li>a{
	padding-left: 40px;
}
.sidebar li li.active>a{
	padding-left: 38px;
}
.sidebar li.active>a{
	color: #818DE8;
	padding-left: 18px;
	border-left: 2px solid #8989EC;
}
/*menu bar default define*/
.floatbar{
	list-style: none;
	padding: 0px;
	background-color: #EDEDF1;
	height: 100%;
	box-shadow: 2px 0px 9px #080808;
	overflow: hidden;
	width: inherit;
	font-size:1.3em;
}
.floatbar li{
	padding-top: 8px;
	padding-bottom: 8px;
	list-style: none;
}
.floatbar li:hover>a{
	text-shadow: 0px 0px 3px #C3C0C0;
}
.floatbar li li:hover{
	text-shadow: 0px 0px 3px #A5A1A1
}
.floatbar ul{
	left: 0;
	height: auto;
}
.floatbar ul ul{
	margin-top: 8px;
    box-shadow: 0px 2px 9px #B9B6B6 inset;
    background-color: #D3D3D8;
    top: 8px;
}
.floatbar li>a{
	color: #2C2C2D;
	text-decoration: none;
	padding-bottom: 8px;
	padding-left: 3px;
}
.floatbar li.active, .floatbar li.active li.active{
	color: #2C2C2D;
	font-weight: bold;
}
.floatbar li.active li{
	color: #2C2C2D;
	font-weight: normal;
}

.floatbar li.active>a{
	padding-left: 0px;
	
}
.crossRemove{
	display:inline-block; 
	width: 20px; 
	height: 4px; 
	background: #939698; 
	font-size: 0; 
	line-height: 0;
	vertical-align: middle;
	-webkit-transform: rotate(45deg);
}
.crossRemove:after { 
	content:'.'; 
	display:block; 
	width: 20px; 
	height:4px; 
	background: #939698;
	-webkit-transform: rotate(-90deg);
}

.menuIcon:before{
	content:''; 
	display:block; 
	height: 3px;
	border-top: solid 4px #939698;
}
.menuIcon:after{
	content:''; 
	display:block; 
	border-top: solid 4px #939698;
	border-bottom: solid 4px #939698;
	padding-top: 3px;
}


